.coverage

# IntelliJ specific files
.idea/
*.iml

# Compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# Compiled C extensions
*.so

# User-specific files
*.suo
*.user
*.sln.docstates

# Logs
*.log

# PyCharm files
.idea/
*.pyc

# macOS
.DS_Store

# Windows
Thumbs.db